{% extends 'base.html' %}

{% block body %}

  <h2 class='center heading-entry'>{{ the_title }}</h2>

  <div class='center first-div'>
      <form method='POST' action='/one'>
        <table align="center">
          <p class="test">Use this form to submit a search request</p>
          <tr><td>Number One:</td><td><input name='numberOne' type='NUMBER' width='60'></td></tr>
          <tr><td>Number Two:</td><td><input name='numberTwo' type='NUMBER' width='60'></td></tr>
        </table>

        <p>When you're ready, click the submit button</p>
        <button class="entry-button">Submit</button>
      </form>
  </div>

{% endblock %}
