{% extends 'base.html' %}

{% block body %}

    <header>
        <h1 class='center heading_times'>{{ the_title }}</h1>
    </header>

    <main>
        <div class='center first-div'>
            <form method='POST' action='/names'>
                <table align='center'>
                    <p>Enter your First and Last name here: </p>
                    <tr><td>First Name: </td><td><input name='first' width='50'></td></tr>
                    <tr><td>Last Name: </rd><td><input name='last' width='50'></td></tr>
                </table>
                <button class='entry-button'>Submit</button>
            </form>
        </div>
    </main>




{% endblock %}
