/* Generic CSS for all pages */
body {
  background-color: lightblue;
}

.center {
  text-align: center;
}

/*CSS For index page */

/*CSS For entry page */

.heading-entry {
    margin-top: 30px;
    margin-bottom: 30px;
}

.first-div {
    background-color: lightpink;
    border: red double 3px;
    border-radius: 5px;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 4px 6px 8px rgba(0,0,0,.75);
}

.entry-button {
    border-radius: 10px;
    background-color: purple;
}

/* CSS for results page */
.head_results {
    margin-top: 25px;
}

/* CSS for times page */
.heading_times {
    margin-top: 25px;
}
